.about-creator {
  margin: 0;
  align-self: stretch;
  height: 45px;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.rectangle-child {
  height: 190px;
  width: 338px;
  position: absolute;
  margin: 0 !important;
  bottom: -39px;
  left: -64px;
}
.info-frames-group-child {
  width: 227px;
  height: 121px;
  position: relative;
  background-color: var(--color-snow-600);
  display: none;
}
.about-us,
.contact-info,
.investors,
.license {
  width: 49px;
  position: relative;
  font-weight: 100;
  display: inline-block;
  z-index: 2;
}
.contact-info,
.investors,
.license {
  width: 39px;
}
.contact-info,
.investors {
  width: 50px;
}
.contact-info {
  width: 68px;
}
.info-frames-group,
.license-frame,
.rectangle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.info-frames-group {
  flex: 1;
  background-color: var(--color-snow-600);
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-sm) 31px;
  gap: 5px 0;
  z-index: 1;
}
.license-frame,
.rectangle {
  flex-direction: row;
}
.rectangle {
  flex: 1;
  position: relative;
}
.license-frame {
  width: 339px;
  padding: 0 56px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-xs);
}
.about-creator-parent,
.desktop {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.about-creator-parent {
  margin: 0 !important;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 39px;
  box-sizing: border-box;
  gap: 43px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.desktop {
  height: 248px;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  letter-spacing: normal;
}
